body{
    margin: 0px;
}

#body-header{

    color: white;
    height: 60vh;
    background-color: black;
    
/*background-image: url(C:\Users\yatha\OneDrive\Desktop\WhatsApp Image 2022-09-20 at 1.34.07 AM.jpeg);
*/
background-size: cover;
background-position: center;
}
.centre-align{
    text-align: center;
}
#name{
    margin: 10vh;
    text-align: center;
    color: aquamarine;
    font-weight: 100000;
    
}
.nav-list{
    list-style: none;

}
.nav-list li{
    font-size: 3ch;
    display: inline-block;
    text-decoration: solid;
    margin: 0px 8px 8px 0px;

}
.nav-list li a{
    padding: 2mm;
    color: white;
    
}
.nav-list li a:hover{
    color: aqua;
    text-emphasis: solid;
    transition: border-bottom 20px;

}
.social-icons li a i{
border-radius: 50%;
}
.social-icons li a:hover{
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px red;
    
}
#pic{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -10vh;
    
}
#pic:hover{
    box-shadow: 0px 0px 4px 4px blue;
    border-radius: 50%;
}
#pic img {
    
    height: 100%;
    width: 100%;
    border-radius: 80%;
    
}
